.signup{
    margin-top: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup1{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    font-size: 1.5rem;
}
.input{
    width: 48vw;
}